@model Helpdesk.Models.Tickets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<dd>
    <h4>Ticket Number</h4>
    @Html.DisplayFor(model => model.TicketsId)
</dd>
<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priorities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site_Admins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site_Admins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>
</div>

<div>

    @*    Code for File View Here   *@

    <div>
        @Html.LabelFor(model => model.FileDetails)
    </div>
    <div>
        <ul class="attachment">
            @foreach (var item in Model.FileDetails)
            {
                <li>
                    <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem">X</a>

                    <a class="title" href="/Tickets/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">@item.FileName</a>
                    
                </li>
            }
        </ul>

    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
    }
