@model IEnumerable<Helpdesk.Models.Inventory>

@{
    ViewBag.Title = "Inventory List";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComputerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventoryId })
        </td>
    </tr>
}

</table>
